.createListing_container {
  background-image: url("/Users/Julian/PROJECT/mktfy_web_app/src/assets/imgBackgoundGreyWaves.svg");
  background-attachment: fixed;
  background-position: 50% 50%;
  padding-top: 312px;
  padding-bottom: 122px;
  background-color: #f4f4f5;
}
.border_document_createListing {
  max-width: 1636px;
  margin: 0 auto;
  /* padding: 0px 352px 0 0; */
  background-color: transparent;
}
.cardBody_createListing {
  max-width: 1448px;
  background-color: #f8f8f8;
  padding: 0;
  border-radius: 10px;
}
.product_details_createListing {
  background-color: #f8f8f8;
  padding: 32px 352px 62px 44px;
}
div.card.product_images_createListing {
  border-radius: 10px 0px 0px 10px;
}
div.card.product_details_createListing {
  border-radius: 0px 10px 10px 0px;
}
.product_details_createListing label {
  font-size: 1.4em;
  margin-bottom: 6px;
  padding: 0;
}
.createListing_inputField {
  height: 54px;
  font-size: 1.4em;
  border: 1px solid #e2e2e2;
  margin-bottom: 18px;
}
.createListing_inputField.description {
  height: 160px;
}

.createListing_dropdown {
  width: 100%;
  color: #2a2e43;
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  height: 3.4rem;
  display: table;
  margin-bottom: 18px;
}
.createListing_dropdown_header {
  font-size: 14px;
  color: #2a2e43;
  font-weight: 300;
  /* width: 100%; */
  height: 100%;
  display: inline-block;
  display: table-cell;
  vertical-align: middle;
  padding-left: 1%;
}

.createListing_dropdown.category .dropdown-toggle::after {
  position: absolute;
  top: 1.8em;
  right: 1em;
  /* margin-left: 26em; */
  /* vertical-align: 0; */
}

.createListing_dropdown.padddingText .dropdown-toggle::after {
  position: absolute;
  top: 1.8em;
  right: 1em;
}
.createListing_dropdown.padddingText {
  padding-left: 12px;
}
.categories_dropdownMenu {
  width: 100%;
  transform: translate3d(0px, 26%, 0px) !important;
}
.condition_dropdownMenu {
  width: 100%;
  transform: translate3d(0px, 48%, 0px) !important;
}
.city_dropdownMenu {
  width: 100%;
  transform: translate3d(0px, 48%, 0px) !important;
}
.dropDownItem_createListing {
  padding: 15px;
}

.dropDownItem_createListing:hover {
  color: #9349de;
  background-color: #f1f1f1;
}

.padding_rigth {
  padding-left: 0px;
  padding-right: 5px;
}

.padding_left {
  padding-left: 5px;
  padding-right: 0px;
}

/*     transform: translate3d(0px, 52px, 0px) */
.postListing_button {
  background-color: #6318af;
  font-size: 1.4em;
  font-weight: bold;
  box-shadow: none;
  margin-top: 32px;
}
.cancel_button {
  color: #969696;
  font-size: 1.4em;
  font-weight: bold;
  box-shadow: none;
  background-color: #f8f8f8;
  border: 1px solid #969696;
  box-shadow: none;
  margin-top: 20px;
}

/* add img ROW */
.product_images_createListing {
  padding: 32px;
}
.addPhoto_main {
  height: 320px;
  border: 1px dashed #6318af;
  color: #6318af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin-bottom: 12px;
}
.addPhoto_secondary {
  height: 90px;
  border: 1px dashed #6318af;
  color: #6318af;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_camera {
  width: 42px;
  margin-bottom: 8px;
}
.secondary_camera {
  width: 30px;
  margin-bottom: 8px;
}

/* Review Photo */
.reviewPhoto_main {
  height: 320px;
  border: 1px solid #7070704d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin-bottom: 12px;
  width: 100%;
  position: relative;
}
.reviewPhoto_main img {
  height: 100%;
  object-fit: contain;
}
.reviewPhoto_secondary {
  height: 90px;
  border: 1px solid #7070704d;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewPhoto_secondary img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.previewImg_container .col {
  padding: 5px;
}

/* MODAL upload img */

.uploadImg_body {
  flex: 0;
  display: flex;
  justify-content: center;
}
.uploadImg_header {
  border: none;
  padding: 60px 0 30px 0;
}

.chooseFiles_button {
  border-radius: 4px;
  border: 1px solid #6b6b6c53;
  box-shadow: none;
  color: #888889;
  font-size: 20px;
  padding: 6px 72px;
  margin-right: 20px;
  background-color: #8888892e;
  display: inline-block;
  cursor: pointer;
}

.uploadImg_button {
  width: 345px;
  background-color: #6318af;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;
  text-align: center;
  margin: 30px auto 60px auto;
  display: block;
}
.uploadImg_body span {
  font-size: 20px;
  color: #888889;
}
.uploadImg_body h2 {
  color: #888889;
  font-size: 40px;
  font-weight: bold;
  padding: 23% 29%;
}

.uploadImg_container {
  width: 710px;
  margin-top: 15px;
  border: 3px dashed #e2e2e2;
}

.imgList {
  /* width: 100%; */
  /* height: 108px; */
  /* border: 2px dashed #f2f2f2; */
  /* margin-bottom: 30px; */

  /* padding: 20px 15px; */
  display: flex;
  justify-content: center;
  padding-top: 10px;
  /* margin-top: px; */
  /* align-items: center; */
}
div h5 {
  font-size: 1.6em;
  color: #888889;
}
div p {
  font-size: 1.4em;
  color: rgb(98, 97, 97);
  align-self: center;
  padding-left: 10px;
  padding-top: 1px;
}

.maxImage_error {
  color: #d32222;
  margin-top: 10px;
  padding: 0;
}
.reviewPhoto_secondary {
  position: relative;
}
.close_circle {
  position: absolute;
  top: 7%;
  right: 7%;
}

.close_circle_main {
  position: absolute;
  top: 7%;
  right: -85%;
}

.caret_custom {
  position: absolute;
  top: 25%;
  right: 2%;
}
.category {
  margin-bottom: 18px;
}
.accepted_files {
  color: rgb(180, 17, 17);
  font-size: 1.5rem;
}
