.header {
  text-align: center;
}

.carousel-container {
  margin: 20px;
  display: flex;
}

.selected-image {
  width: 643px;
  height: 494px;
  margin-bottom: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel {
  position: relative;
}

.carousel__images {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  /* overflow-x: hidden; */
}

.carousel__image-selected {
  border: 3px solid #ffa700 !important;
}

.carousel__image {
  margin-right: 10px;
  height: 50px;
  min-width: 50px;
  border: 3px solid #ffa70000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
