.header {
  text-align: center;
}

.carousel-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  overflow: visible;
  white-space: nowrap;
}

.selected-image {
  /* width: 643px; */
  height: 494px;
  margin-bottom: 8px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 24px;
  border: 1px solid #7070704d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.carousel {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  max-height: 494px;
  /* width: ; */
}

.carousel__images {
  flex-direction: column;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 20px;
  white-space: nowrap;
}

.carousel__image-selected {
  border: 3px solid #8840d9dd !important;
  border-radius: 10px;
}

.carousel__image {
  /* margin-top: 20px; */
  height: 123px;
  min-width: 50px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 7px;
  margin-bottom: 10px;
}

.arrow {
  font-size: 40px;
  font-weight: 200;
  color: rgb(136, 136, 137);
  text-align: center;
}
.slide_number {
  font-size: 1.6em;
  color: #e5e2e2;
  padding-bottom: 30px;
}
