.modal-dialog {
  top: 5%;
}

.createPassword_body {
  padding: 0 8.6rem;
  flex: 0;
}
.modal-title {
  font-size: 40px;
  margin: auto;
  color: #9349de;
  font-weight: bold;
}
.createPassword_header {
  border: none;
  padding: 60px 0 10px 0;
}

.createPassword_header_text {
  font-size: 20px;
  color: #888889;
  font-weight: 600;
  margin-bottom: 25px;
}
.close {
  position: absolute;
  top: 8px;
  right: 24px;
  border: none;
  color: #888889;
  background-color: transparent;
  font-size: 40px;
}

/* .createPassword_form_group {
  margin-top: 15px;
} */
label {
  font-size: 1.6em;
  color: #6b6b6c;
  font-weight: 600;
  margin-bottom: 12px;
}

.createPassword_inputField {
  height: 3.4rem;
  font-size: 2em;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}
.createPassword_inputField::placeholder {
  color: #4d4d4d60;
  font-weight: 500;
}
.createPassword_inputField.form-control:focus {
  border-color: rgb(147, 73, 222);
  box-shadow: 0 0 0 0.25rem rgb(147 73 222 / 25%);
}
.createPassword_inputField.invalid.form-control {
  border-color: rgb(255, 44, 44);
}
.password_input_field {
  display: flex;
  position: relative;
}
.password_eye_logo {
  position: absolute;
  height: 3.4rem;
  right: 2%;
  font-size: 24px;
  color: #888889;
  border: none;
  background-color: transparent;
}
.validation_checkmark {
  margin-top: 20px;
}
.validation_checkmark span {
  font-size: 16px;
  padding-left: 10px;
  color: #2a2e43;
}
.characters_check {
  color: #ebe8e8;
  font-size: 2em;
}

.uppercase_check {
  color: #ebe8e8;
  font-size: 2em;
}
.number_check {
  color: #ebe8e8;
  font-size: 2em;
}
.valid {
  color: #9349de;
}

.createPassword_checkbox {
  font-size: 20px;
}

.createPassword_checkbox.form-check-input:checked {
  color: turquoise;
  background-color: #9349de;
  border-color: #9349de;
}
.createPassword_checkbox.form-check-input:focus {
  border-color: #9349de;
  /* outline: 0; */
  box-shadow: none;
}
.checkbox_form_group {
  display: flex;
  padding-top: 57px;
  /* align-items: center; */
}
.checkbox_form_group label {
  font-size: 12px;
  padding-top: 6px;
  padding-left: 6px;
  /* padding: 9px 0; */
  /* align-self: flex-end; */
}

.createPassword_input_button {
  width: 345px;
  background-color: #ffba00;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;
  text-align: center;
  margin: 36px auto 50px auto;
  display: block;
}
