.forgetPassword_body {
  padding: 0 8.6rem;
  flex: 0;
}
.forgetPassword_header {
  border: none;
  padding: 60px 0 10px 0;
}
.forgotPassword_text,
.confirmation_text {
  font-size: 2em;
  color: #888889;
  margin-bottom: 60px;
}
.forgetPassword_input {
  height: 3.4rem;
  font-size: 2em;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.forgetPassword_input::placeholder {
  color: #4d4d4d60;
  font-weight: 500;
}
.forgetPassword_input.form-control:focus {
  border-color: rgb(147, 73, 222);
  box-shadow: 0 0 0 0.25rem rgb(147 73 222 / 25%);
}
.forgetPassword_input.invalid.form-control {
  border-color: rgb(255, 44, 44);
}
.forgetPassword_input_button {
  width: 345px;
  background-color: #ffba00;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;
  text-align: center;
  margin: 60px auto;
  display: block;
}

.confirmation_card {
  padding: 40px;
  text-align: center;
}
.confirmation_button {
  width: 345px;
  background-color: #ffba00;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;
  text-align: center;
  margin: 60px auto;
  display: block;
}
