.modal-content {
  border-radius: 10px;
}
.modal.show .modal-dialog {
  top: 5%;
}
.login_body {
  padding: 0 8.6rem;
  flex: 0;
}

.modal-title {
  font-size: 40px;
  margin: auto;
  color: #9349de;
  font-weight: bold;
}
.login_header {
  border: none;
  padding: 60px 0 30px 0;
}
.close {
  position: absolute;
  top: 8px;
  right: 24px;
  border: none;
  color: #888889;
  background-color: transparent;
  font-size: 40px;
}

/* Form-GROUP */
.password_form_group {
  margin-top: 45px;
}

label {
  font-size: 1.6em;
  color: #6b6b6c;
  font-weight: 600;
  margin-bottom: 12px;
}

.login_inputField {
  height: 68px;
  font-size: 2em;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
  width: 100%;
}
.login_inputField::placeholder {
  color: #4d4d4d60;
  font-weight: 500;
}
.login_inputField.form-control:focus {
  border-color: rgb(147, 73, 222);
  box-shadow: 0 0 0 0.25rem rgb(147 73 222 / 25%);
}
.login_inputField.invalid.form-control {
  border-color: rgb(255, 44, 44);
}
.password_input_field {
  display: flex;
  position: relative;
}
.password_eye_logo {
  position: absolute;
  height: 67px;
  right: 2%;
  font-size: 24px;
  color: #888889;
  border: none;
  background-color: transparent;
}

.forgot_myPassword_link {
  font-size: 1.4em;
  color: #ffba00;
  font-weight: 600;
  text-decoration: none;
  float: right;
  padding-top: 30px;
  cursor: pointer;
}
.modal-footer {
  justify-content: center;
  border: none;
}
.login_input_button {
  width: 345px;
  background-color: #ffba00;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;
  text-align: center;
  margin: 112px auto 48px auto;
  display: block;
}

.error_message {
  color: #ff2c2c;
  font-size: 1.4em;
  padding: 10px 0;
}

@media (max-width: 992px) {
  .login_body {
    padding: 0 4rem;
  }
  .login_input_button {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .modal_container .modal-content {
    height: 100vh;
  }
}
