.signup_container .modal-content {
  padding: 0 0 0 104px;
  width: 1360px;
}

.signup_container.modal-dialog {
  max-width: 1360px;
  top: 10%;
}

.signUp_header.modal-header {
  border: none;
  display: inline-block;
  padding: 0;
  margin-right: 138px;
  margin-top: 15px;
}

.signUp_header p {
  font-size: 2rem;
  font-weight: 600;
  color: #888889;
  margin-bottom: 25px;
}

.signUp_modal_body {
  background-color: #f7f7f7;
  border-radius: 0px 0 0 10px;
  padding: 30px 138px 0px 34px;
}
.signUp_next_button {
  width: 345px;
  background-color: #ffba00;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: none;
  height: 67px;
  margin-top: 50px;
}

.signUp_inputField {
  height: 67px;
  font-size: 2rem;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.signUp_modal_body label {
  margin-top: 15px;
}
.phoneInput_container {
  position: relative;
}
.phone_placeholder {
  font-size: 2rem;
  color: #bdbdbe;
  font-weight: 600;
  margin-bottom: 12px;
  position: absolute;
  top: 18px;
  left: 45px;
  /* z-index: 1; */
}
.signUp_inputField::placeholder {
  color: #4d4d4d60;
  font-weight: 500;
}
.signUp_inputField:focus {
  border-color: rgb(147, 73, 222);
  box-shadow: 0 0 0 0.25rem rgb(147 73 222 / 25%);
}
.signUp_inputField.invalid.form-control {
  border-color: rgb(255, 44, 44);
}

.signUp_footer_text {
  font-size: 1.7rem;
  color: #888889;
  margin-top: 18px;
}

.signUp_error_message {
  color: #ff2c2c;
  font-size: 1.4rem;
  padding: -5px 0;
}

@media (max-width: 1399.98px) {
  .signup_container.modal-dialog {
    width: 800px;
  }
  .signup_container .modal-content {
    padding: 0;
    width: 800px;
    /* margin: 0 auto; */
  }
  .signUp_header.modal-header,
  .signUp_header p {
    text-align: center;
    margin-right: 0;
  }
  .modal.show .modal-dialog {
    top: 0;
  }
  .signUp_modal_body {
    padding: 30px 34px;
  }
}
@media (max-width: 991.98px) {
  .signUp_next_button {
    width: 100%;
  }
  .signUp_modal_body {
    padding: 30px 34px;
  }
  .signup_container.modal-dialog {
    width: 600px;
  }
  .signup_container .modal-content {
    padding: 0;
    width: 600px;
    /* margin: 0 auto; */
  }
}
@media (max-width: 767.98px) {
  .signUp_modal_body {
    padding: 0px 10px;
  }
  .signup_container.modal-dialog {
    width: 100vw;
    margin: 0px;
  }
  .signup_container .modal-content {
    width: 100vw;
    /* margin: 0 auto; */
  }
  .modal-title {
    font-size: 3rem;
    position: relative;
  }
  .signUp_header p {
    font-size: 1.5rem;
  }
  .close span {
    position: absolute;
    top: -10px;

    /* bottom: 5px; */
    /* left: 5px; */
  }
}

/* .signup_container .modal-content {
    width: 1200px;

    padding: 0 0 0 104px;
    border-radius: 10px;

    /* margin: 0 auto; */
/* } */
