.signup_container .modal-content {
  padding: 0 0 0 104px;
}

.signup_container.modal-dialog {
  max-width: 1360px;
}

.signUp_header.modal-header {
  border: none;
  display: inline-block;
  padding: 0;
  margin-right: 138px;
  margin-top: 15px;
}

.signUp_header p {
  font-size: 2rem;
  font-weight: 600;
  color: #888889;
  margin-bottom: 25px;
}

.signUp_modal_body {
  background-color: #f7f7f7;
  border-radius: 0px 0 0 10px;
  padding: 30px 138px 0px 34px;
}
.signUp_next_button {
  width: 345px;
  background-color: #ffba00;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: none;
  height: 67px;
  margin-top: 50px;
}

.signUp_inputField {
  height: 67px;
  font-size: 2rem;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.signUp_modal_body label {
  margin-top: 15px;
}
.phoneInput_container {
  position: relative;
}
.phone_placeholder {
  font-size: 2rem;
  color: #bdbdbe;
  font-weight: 600;
  margin-bottom: 12px;
  position: absolute;
  top: 18px;
  left: 45px;
  /* z-index: 1; */
}
.signUp_inputField::placeholder {
  color: #4d4d4d60;
  font-weight: 500;
}
.signUp_inputField:focus {
  border-color: rgb(147, 73, 222);
  box-shadow: 0 0 0 0.25rem rgb(147 73 222 / 25%);
}
.signUp_inputField.invalid.form-control {
  border-color: rgb(255, 44, 44);
}

.signUp_footer_text {
  font-size: 1.7rem;
  color: #888889;
  margin-top: 18px;
}

.signUp_error_message {
  color: #ff2c2c;
  font-size: 1.4rem;
  padding: -5px 0;
}

@media (max-width: 992px) {
  .modal.show .modal-dialog {
    top: 0;
  }
  .signUp_next_button {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .signUp_modal_body {
    padding: 30px 20px 20px 34px;
  }
  .signUp_header.modal-header {
    margin-right: 15px;
    margin-top: 10px;
    text-align: center;
  }
  .signup_container .modal-content {
    padding: 0 0 0 0px;
  }
  .signUp_header h5 {
    font-size: 2rem;
  }
  .signUp_header p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #888889;
    margin-bottom: 25px;
  }
}
