.changePassword_container {
  height: 100vh;
  background-image: url("/Users/Julian/PROJECT/mktfy_web_app/src/assets/imgBackgoundGreyWaves.svg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-color: #f4f4f5;
  padding-top: 290px;
}
.changePassword_card {
  max-width: 1636px;
  margin: 0 auto;
  background-color: transparent;
}

.changePassword_cardBody {
  max-width: 657px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px 95px 59px 30px;
}

.link_home {
  color: #000000;
  text-decoration: none;
}
.link_home:hover {
  color: #6318af;
}

.page_path {
  font-size: 14px;
  position: absolute;
  top: -5%;
}
.arrow_path {
  color: #9349de;
  font-weight: bold;
  padding: 5px;
}
.link_home {
  color: #000000;
  text-decoration: none;
}
.link_home:hover {
  color: #6318af;
}

.changePassword_cardBody h4 {
  font-size: 40px;
  font-weight: bold;
  color: #9349de;
  /* margin-bottom: 22px; */
  /* padding-top: 44px; */
}
.changePassword_button {
  width: 100%;
  background-color: #6318af;
  font-size: 20px;
  font-weight: bold;
  margin-top: 61px;
}

.createPassword_inputField::placeholder {
  color: #4d4d4d60;
  font-weight: 500;
}
.createPassword_inputField:focus {
  border-color: rgb(147, 73, 222);
  box-shadow: 0 0 0 0.25rem rgb(147 73 222 / 25%);
}
.createPassword_inputField.invalid.form-control {
  border-color: rgb(255, 44, 44);
}

.changePassword_text {
  font-size: 2em;
  color: #888889;
  max-width: 90%;
  /* margin-bottom: 15px; */
}
