.myListings_container {
  padding-top: 312px;
  height: 100vh;
}
.border_document_myListings {
  max-width: 1636px;
  margin: 0 auto;
}

.myListings_items {
  display: inline-block;
  font-size: 2rem;
  color: #888889;
  font-weight: 600;
  margin-bottom: 35px;
  cursor: pointer;
}
.myListing_header {
  font-size: 4rem;
  font-weight: bold;
}
.sold_item {
  margin-left: 60px;
  position: relative;
}

.active {
  color: #6318af;
  border-bottom: 5px solid #9349de;
}

.product_name {
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
}
.product_price {
  color: #000000;
  font-size: 2rem;
  font-weight: 600;
  color: #6318af;
}

.centered {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* REUSABLE COMPONENT MyListingCARD.js*/
.status_tag {
  position: absolute;
  top: 25px;
  right: 35px;
  font-size: 2rem;
  border-radius: 4px;
  padding: 0 4px;
}
.sold {
  background-color: #6cc04b33;
  color: #6cc04b;
}
.pending {
  background-color: #9349de33;
  color: #560f9f;
}
.time_output {
  color: black;
  font-size: 1.4rem;
  padding-bottom: 5px;
}
