html {
  /* background-color: transparent; */
}
.dashboard_container {
  padding-top: 221px;
}

.border_document_dashboard {
  max-width: 1660px;
  margin: auto;
}
.container_title {
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  margin-top: 14px;
}

div.card {
  border: none;
  border-radius: 5px;
}

/* Scroll effect */
.scroll_effect {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 1s;
  /* transform: scale(0.98); */
  will-change: transform;
  user-select: none;
  cursor: pointer;
  /* margin: 0; */
}
.scroll_effect.active {
  /* background: rgba(255, 255, 255, 0.3); */
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

::-webkit-scrollbar-thumb {
  background: none;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Deals */
.deals_card {
  height: 351px;
  width: 236px;
  border-radius: 10px;

  box-shadow: 0px 4px 15px #00000024;
}

/* .row > * {
  padding-right: 0;
  padding-left: 0;
} */
.column_deals {
  margin: 24px 12px 48px 12px;
  width: 236px;
}

.image_deals_container {
  height: 235px;
}
.image_deals {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* overflow: hidden;
  background-size: contain; */
}
.deals_title {
  font-size: 1.7rem;
  font-weight: 300;
  text-align: start;
  margin: 20px 21px 10px 14px;
  color: #000000;
  text-decoration: none;
}
.deals_price {
  color: #6318af;
  font-size: 2.1em;
  font-weight: bold;
  margin: 20px 21px 20px 14px;
}

/* Categories */
.categories_card {
  border-radius: 10px;
  box-shadow: 0px 4px 15px #00000024;
}
.column_categories {
  margin-top: 51px;
  margin-bottom: 12px;

  width: 236px;
}
.space-between {
  display: flex;
  justify-content: space-around;
}

/*  */
/*  */
/*  */

.explore_link_button {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #9349de;
  margin-bottom: 14px;
  margin-right: 14px;
  margin-top: 47px;
}

/* BANNER */
.banner {
  background-color: transparent;
  height: 546px;
  background-size: cover;
}
.card_banner {
  color: transparent;
  background-color: transparent;
  margin-bottom: 120px;
}
.googlePlayLogo {
  width: 298px;
  position: absolute;
  bottom: 13%;
  left: 42%;
}
.appStoreLogo {
  width: 298px;
  position: absolute;
  bottom: 13%;
  left: 62%;
}

.banner_header {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  /* increase font size for 4em thats why 230px/4em=5.75em */
  bottom: 41%;
  left: 42%;
}

.banner_text {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  /* /* increase font size for 4em  */
  bottom: 32%;
  left: 42%;
  padding: 0;
}

@media (max-width: 1540px) {
  .column_categories {
    width: 170px;
  }
  .googlePlayLogo {
    width: 190px;
  }
  .appStoreLogo {
    width: 190px;
  }
  .banner {
    height: 520px;
  }
}
@media (max-width: 1200px) {
  .banner_text {
    font-size: 1.8rem;
  }
  .banner_header {
    font-size: 3rem;
  }
  .banner {
    height: 400px;
  }
}
@media (max-width: 1000px) {
  .banner {
    height: 350px;
  }
  .googlePlayLogo {
    width: 130px;
  }
  .appStoreLogo {
    width: 130px;
  }
  .banner_text {
    font-size: 1.6rem;
  }
  .banner_header {
    font-size: 2.2rem;
  }
}
@media (max-width: 768px) {
  .banner {
    height: 250px;
  }
  .banner_text {
    font-size: 1rem;
    /* width: 80%; */
  }
  .banner_header {
    font-size: 2rem;
  }
  .googlePlayLogo {
    width: 100px;
  }
  .appStoreLogo {
    width: 100px;
  }
}
