.dashboard_container {
  height: 100%;
  margin-top: 221px;
  background-image: url("/Users/Julian/PROJECT/mktfy_web_app/src/assets/imgBackgoundGreyWaves.svg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-color: #f4f4f5;
  padding: 0;

  /* margin: 0 auto; */
  /* width: 100vw; */
}

.border_document_dashboard {
  max-width: 1660px;
  margin: auto;
  padding: 30px 0px 120px 0px !important;
}
.container_title {
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  margin-top: 14px;
}

div.card {
  border: none;
  border-radius: 5px;
}

/* Scroll effect */
.scroll_effect {
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  transition: all 1s;
  /* transform: scale(0.98); */
  will-change: transform;
  user-select: none;
  cursor: pointer;
  /* margin: 0; */
}
.scroll_effect.active {
  /* background: rgba(255, 255, 255, 0.3); */
  cursor: grabbing;
  cursor: -webkit-grabbing;
  transform: scale(1);
}

::-webkit-scrollbar-thumb {
  background: none;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Deals */
.deals_card {
  height: 351px;
  width: 236px;
  border-radius: 10px;

  box-shadow: 0px 4px 15px #00000024;
}

/* .row > * {
  padding-right: 0;
  padding-left: 0;
} */
.column_deals {
  margin: 24px 12px 48px 12px;
  width: 236px;
}

.image_deals_container {
  height: 235px;
}
.image_deals {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* overflow: hidden;
  background-size: contain; */
}
.deals_title {
  font-size: 1.7em;
  font-weight: 300;
  text-align: start;
  margin: 10px 21px 10px 14px;
  color: #000000;
}
.deals_price {
  color: #6318af;
  font-size: 2.1em;
  font-weight: bold;
  margin: 0px 21px 20px 14px;
}

/* Categories */
.categories_card {
  height: 264px;
  width: 236px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px #00000024;
  display: flex;
  justify-content: space-between;
}
.column_categories {
  width: 100%;
  margin-top: 51px;
  margin-bottom: 12px;

  width: 236px;
}
.space-between {
  display: flex;
  justify-content: space-around;
}

/*  */
/*  */
/*  */

.explore_link_button {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  color: #9349de;
  margin-bottom: 14px;
  margin-right: 14px;
  margin-top: 47px;
}

/* BANNER */
.banner {
  background-color: transparent;
  height: 546px;
  background-size: cover;
}
.card_banner {
  color: transparent;
  background-color: transparent;
}
.googlePlayLogo {
  width: 29.8em;
  position: absolute;
  bottom: 7.47em;
  right: 64.8em;
}
.appStoreLogo {
  width: 29.8em;
  position: absolute;
  bottom: 7.47em;
  right: 32em;
}

.banner_header {
  font-size: 4em;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  /* increase font size for 4em thats why 230px/4em=5.75em */
  bottom: 5.75em;
  left: 17.3em;
}

.banner_text {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  /* /* increase font size for 4em  */
  bottom: 8.8em;
  left: 34.6em;
}
