.accountInformation_container {
  padding-top: 312px;
}
.border_document_accountInformation {
  max-width: 1636px;
  margin: 0 auto;
  padding-bottom: 15px;
  background-color: transparent;
}
.accountInformation_card {
  max-width: 1498px;
  background-color: #ffffff;
  box-shadow: 0px 7px 12px #00000024;
  padding: 58px 138px 100px 138px;
  border-radius: 10px;
}

.accountInformation_inputField {
  height: 68px;
  font-size: 2rem;
  border: 1px solid #e2e2e2;
  /* margin-bottom: 10px; */
}
.phone {
  width: 100%;
}
.accountInformation_card label {
  margin-top: 15px;
  color: #6b6b6c;
}
.accountInformation_inputField::placeholder {
  color: #4d4d4d60;
  font-weight: 500;
}
.accountInformation_phone_placeholder {
  font-size: 2rem;
  color: #4d4d4d;
  font-weight: 500;
  display: block;
  position: absolute;
  top: 27%;
  left: 7%;
  /* z-index: 1; */
}

.accountInformation_button {
  background-color: #ffba00;
  font-size: 20px;
  font-weight: bold;
  box-shadow: none;
  height: 68px;
  width: 100%;
  margin-top: 50px;
}
.error {
  color: red;
  position: absolute;
  right: 10px;
}

@media (max-width: 992px) {
  .accountInformation_container {
    padding-top: 180px;
  }
}
