.checkout_container {
  padding-top: 312px;
}
.border_document_checkout {
  max-width: 1636px;
  margin: 0 auto;
  background-color: transparent;
}

.checkout_card {
  max-width: 532px;
  background-color: #ffffff;
}
.card-body {
  padding: 2rem 2rem;
}

.link_home {
  color: #000000;
  text-decoration: none;
}
.link_home:hover {
  color: #6318af;
}

.page_path {
  font-size: 14px;
  position: absolute;
  top: -5%;
}
.arrow_path {
  color: #9349de;
  font-weight: bold;
  padding: 5px;
}
.checkout_card h4 {
  font-size: 40px;
  font-weight: bold;
  color: #9349de;
  margin-bottom: 22px;
  padding-top: 44px;
}
.checkout_button {
  width: 100%;
  background-color: #6318af;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.price_card {
  width: 100%;
  height: 108px;
  border: 1px solid #f2f2f2;
  margin-top: 2px;
  margin-bottom: 30px;
  border-top: 2px solid #e0dcdc;
  padding: 20px 15px;
}
.price_card h5 {
  font-size: 16px;
  font-weight: bold;
  color: #6318af;
  margin: 0;
}

.price_card span {
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
  color: #6318af;
}
.listing_details {
  height: 125px;
}

.listing_details_information h5 {
  font-size: 14px;
  color: #000000;
}
.listing_details_information span {
  font-size: 16px;
  font-weight: bold;
  color: #6318af;
}
.link_home {
  color: #000000;
  text-decoration: none;
}
.link_home:hover {
  color: #6318af;
}
.card_image {
  width: 100%;
  height: 125px;
  object-fit: contain;
}
@media (max-width: 992px) {
  .checkout_container {
    padding-top: 250px;
  }
  .price_card span {
    display: inline-block;
    font-size: 2.8rem;
    font-weight: bold;
    color: #6318af;
  }
  .checkout_card h4 {
    font-size: 3rem;
    font-weight: bold;
    color: #9349de;
    margin-bottom: 22px;
    padding-top: 44px;
  }
}
