.listing_container {
  padding-top: 312px;
  /* height: 100vh; */
}

.border_document_listing {
  max-width: 1636px;
  margin: 0 auto;
}

/* SECOND COLUMN CARD */

.item_details_card {
  padding-left: 132px;
  padding-right: 115px;
}
.listing_product {
  font-size: 40px;
  margin-bottom: 20px;
}
.listing_price {
  font-size: 3.6rem;
  font-weight: bold;
  color: #6318af;

  /* margin-bottom: 5px; */
}

.item_details_button {
  width: 526px;
  box-shadow: none !important;
  background-color: #6318af;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 53px;
  margin-top: 10px;
}
.item_details_card h3 {
  font-size: 16px;
  color: #6318af;
}
.item_details_card p {
  padding: 0;
}

.sellers_info {
  display: flex;
  flex-direction: row;
  padding-top: 14px;
}
.seller_logo {
  width: 50px;
  height: 50px;
  background-color: #6318af;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.seller_logo span {
  color: white;
  font-size: 16px;
}

.sellers_number_of_listings {
  display: flex;
}
.sellers_info h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0;
  padding: 0 5px;
  padding-top: 5px;
}
.sellers_number_of_listings h5 {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  padding-top: 5px;
}
.sellers_number_of_listings div {
  display: flex;
  justify-content: space-between;
}
.link_home {
  color: #000000;
  text-decoration: none;
}
.link_home:hover {
  color: #6318af;
}

.listingPage_path {
  font-size: 14px;
  position: absolute;
  top: -35px;
}
.arrow_path {
  color: #9349de;
  font-weight: bold;
  padding: 5px;
}
@media (max-width: 1400px) {
  .listing_container {
    padding-top: 270px;
  }
  .item_details_card {
    padding-left: 52px;
    padding-right: 25px;
  }
}
@media (max-width: 1200px) {
  .listing_container {
    padding-top: 220px;
  }
  .item_details_card {
    padding-left: 0px;
    padding-right: 0px;
  }
  .item_details_card h2 {
    font-size: 3.6rem;
  }
}
