.listingModal_button {
  width: 143px;
  height: 50px;
  box-shadow: none;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.cancel {
  color: #888889;
}
.confirm {
  background-color: #6318af;
}

.listingModal_header {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 29px;
}
.listingModal_text {
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
}
