/* LOADING SPINNER */
.lds-dual-ring {
  display: flex;
  width: 200px;
  height: 200px;
  height: 100vh;
  margin: auto;
  align-items: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 150px;
  height: 150px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #6318af;
  border-color: #6318af transparent #6318af transparent;
  animation: lds-dual-ring 2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
