/* CONFIRM SPINNER */

.body_spinner {
  height: 100vh;
  background-image: url("../assets/spinner_background.svg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}
.spinner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: tomato;
  border-radius: 50px;
  animation: spinnerOne 1.2s linear infinite;
}
.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: tomato;
  animation: spinnerTwo 1.2s linear infinite;
}

/* LOADING SPINNER */
.lds-dual-ring {
  display: inline-block;
  /* width: 200px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 150px;
  height: 150px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #6318af;
  border-color: #6318af transparent #6318af transparent;
  animation: lds-dual-ring 2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
