.contact_container {
  height: 100vh;
  padding-top: 312px;
  text-align: center;
}
.border_document_contact {
  max-width: 1636px;
  margin: 0 auto;
  background-color: transparent;
}
.contact_us {
  width: 300px;
  font-size: 4.2rem;
  position: relative;
  top: 25%;
  color: #6318af;
}
.contact_us:hover {
  color: #9b95a0;
}
