.app_container {
  height: 191px;
  width: 100vw;
  padding: 0;
  background-color: #6318af;
}

.border_document {
  max-width: 1660px;
  margin: auto;
}

.nav_bar {
  margin-top: 63px;
}

.dropdown-item:active {
  background-color: none;
}
/* Search Card + DropDown City*/
.smth {
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.output_categories_span {
  font-size: 1.4em;
  opacity: 0.7;
}

.border-custom {
  height: 100%;
  align-self: center;
  border: none;
  border-left: 1px solid rgb(189, 186, 186);
  border-right: 1px solid rgb(189, 186, 186);
  border-radius: 0;
}

.search_card_padding {
  padding: 10px 0px;
}
#logo1 {
  margin-top: 15px;
  padding: 0;
  width: 115px;
}

.icon_style1 {
  position: absolute;
  left: 78%;
  top: 30%;
}
.icon_style2 {
  position: absolute;
  left: 10%;
  top: 30%;
}
.btn-outline-secondary:hover {
  color: black;
  background-color: white;
  border-color: white;
}
.btn-outline-secondary:focus:active {
  box-shadow: 0 0 0 0;
}

.arrow_city_search:before {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgb(221, 217, 217) transparent;
}

.arrow_city_search:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}
.dropdown {
  font-size: 2em;
  cursor: pointer;
}
.dropDownCustom_search_card {
  margin-top: 40px;
  width: 315px;
  transform: translate3d(-91%, 21px, 0px) !important;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  font-size: 0.7em;
}
.dropDownToggle_search_card h3 {
  font-size: 20px;
  display: inline-block;
  margin: 0 7%;
  color: #4d4d4d;
}

.dropdown span {
  margin-right: 10%;
}

.dropDownItem {
  padding: 0.8rem 1rem;
}

.dropDownItem:hover {
  color: #9349de;
}

.dropDown_search_input2 {
  padding: 0.8rem 1rem;
  position: relative;
  width: 100%;
}
.searchInput_city {
  height: 40px;
  font-size: 1.6rem;
  border-radius: 4px;
}

.searchInput_city.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(99 24 175 / 25%);
  border: none;
}
.searchInput_city::placeholder {
  padding-left: 15%;
}

/* Category LINKS */
.nav-link {
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 600;
  margin: 12px 10px;
}
.nav-link:hover {
  color: white;
}
.nav-link:focus {
  color: white;
}
.categories_column {
  display: flex;
  flex-direction: row;
}

/* DropDown Profile */
.dropDownCustom_profile {
  margin-top: 40px;
  width: 315px;
  /* height: 656px; */
  transform: translate3d(-3%, 31px, 0px) !important;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  font-size: 0.7em;
}

.dropDownToggle_profile h3 {
  font-size: 20px;
  color: #ffba00;
  line-height: 0.8;
  font-weight: 600;
}
.dropDownToggle_profile h4 {
  font-size: 14px;
  margin-left: 11%;
  color: #e2e2e2;
}
.arrow_profile:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgb(221, 217, 217) transparent;
}
.arrow_profile:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}
.dropdown_user_name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 7%;
  display: flex;
  align-items: center;
}
.dropdown-item:active {
  background-color: white;
  color: black;
}
.dropdown_settings_header {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-top: 5%;
}

.dropdown_help_header {
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-top: 10%;
}
.dropDownItem_profile {
  padding: 8% 16px;
}
.dropDownItem_profile:hover {
  color: #9349de;
}
.sign_out_button {
  margin-top: 5%;
  color: #ff2c2c;
}
#exit_logo {
  position: absolute;
  right: 5%;
  bottom: 3.5%;
}

.dropdown-item:active {
  color: none;
  background-color: none;
}

.name_logo {
  width: 50px;
  height: 50px;
  background-color: #6318af;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter_logo {
  color: #ffffff;
  font-size: 16px;
}

/* Dropdown NOTIFICATION */
.dropdown_notification_header {
  font-size: 1em;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 15px;
}

.dropDownCustom_notification {
  width: 375px;
  transform: translate3d(-91%, 14%, 0px) !important;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  font-size: 0.7em;
}
.arrow_notification:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgb(221, 217, 217) transparent;
}

.arrow_notification:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.profile_notification_container {
  display: flex;
  justify-content: space-around;
}
#notification_bell_logo {
  position: absolute;
  top: 40%;
  left: 0;
}

.notification_brand_logo {
  width: 60px;
  height: 60px;
  background-color: var(--indigo);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4%;
}
.notification_brand_logo span {
  font-size: 14px;
  color: #ffffff;
  margin-right: 0;
}
.notification_dropdown_item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 25px 16px;
}
.notification_message {
  display: flex;
  flex-direction: column;
}

/* Button CREATE LISTING */
.button_column {
  display: flex;
  justify-content: center;
}
.button_create_listing {
  max-width: 152px;
  height: 50px;
  border-radius: 37px;
  border: none;
  box-shadow: 0;
  background-color: #ffba00;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0px 5px 20px #0000007e;
  text-decoration: none;
}
.button_create_listing:hover {
  color: #ffffff;
}

#container {
  border: 3px solid #ffffff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 2px;
}
#container span {
  font-size: 18px;
}
.category_header {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}
.hamburger_button {
  padding: 0.5rem 1rem 0.5rem 0rem;
  margin: 12px 0;
}
.hamburger_button div {
  width: 24px;
  height: 0.2px;
  background-color: #ffffff;
  margin: 6px 0;
}

.search_input {
  height: 30px;
  border: none;
  font-size: 1.6rem;
}
.search_input.form-control {
  line-height: 0;
}
.search_input.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgb(99 24 175 / 25%);
}

.search_input::placeholder {
  font-size: 1.4rem;
}

@media (max-width: 1500px) {
  #logo1 {
    width: 110px;
  }
}

/* NEw */
