.purchases_container {
  padding-top: 312px;
}
.border_document_purchases {
  max-width: 1636px;
  margin: 0 auto;
}
.purchases_card {
  max-width: 808px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
.image_purchases {
  display: flex;
  justify-content: center;
}
.details_purchases {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details_purchases h6 {
  color: #000000;
  font-size: 1.4em;
  font-weight: 300;
}
.details_purchases h5 {
  font-size: 2em;
  font-weight: 400;
}
.details_purchases span {
  display: inline-block;
  color: #6318af;
  font-size: 2em;
  font-weight: bold;
  margin-top: 12px;
}
.border_document_purchases h1 {
  font-size: 4em;
  color: #4d4d4d;
  margin-bottom: 15px;
}
.border_document_purchases span {
  font-size: 1.6em;
}
.listingCard_image {
  height: 214px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .purchases_container {
    padding-top: 212px;
  }
  .border_document_purchases h1 {
    font-size: 2.8rem;
  }
  .listingCard_image {
    /* height: 180px; */
  }
}
@media (max-width: 575px) {
  .listingCard_image {
    height: 120px;
  }
  .border_document_purchases span {
    font-size: 1em;
  }
  .status_tag {
    top: 5px;
    right: 5px;
  }
  .product_name {
    font-size: 1.4rem;
  }
  product_price {
    font-size: 1.4rem;
  }
}
